.inventory-page {
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe;
}

.inventory-page h6 {
    padding-top: 13px;
    font-size: 20px;
}

.inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media only screen and (max-width: 600px) {
    .inventory {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}