.top-header-height {
    height: 45px;
}

.top-header-height img {
    width: 80px;
    height: 45px;
}

.title-Styles {
    font-size: 13px;
    font-family: 'Lucida Sans', 'sans-serif';
}

.Button-Height button {
    height: 25px;
    font-size: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
}